body{
    background-color: hsl(185, 75%, 39%);
    margin: 0%;
    text-align: center;
    color: hsl(229, 23%, 23%);
    font-family: 'Kumbh Sans', sans-serif;
}
h3{
    margin: 0.5rem;
    font-size: 18px;
    margin-bottom:0rem;
}
p{
    display: inline;
    color: hsl(0, 0%, 59%);
   font-size: 18px;
}
hr{
    border-top: 1px  ;
}
#for-twentysix{
  color: hsl(227, 10%, 46%);
}

#top-image{
    position: absolute;
    bottom: 45%;
    right: 50%;
}
#bottom-image{
    position: absolute;
    top: 50%;
    left: 50%;
}
.profile-card{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
   background-color: white ;
   width: 350px;
   margin: 150px auto ;
   border-radius: 10px;
   position: relative;
   box-shadow: 0px 0px 200px hsl(227, 10%, 46%);
}
.space{
    height: 80px;
}
#bg-image-card
{
    display: block;
    border-radius: 10px 10px  0 0;

    
}
#person{
    border: 4px solid #fff;
    border-radius: 50%;
}
.person{
    position: absolute;
    left: 120px;
    top: 90px;
}
#name{
    display: inline;
    font-weight: 1000;
  
}
.sub-headings{
    display: block;
 font-size: 1rem;
 font-weight: 400;
 margin-top: 0.8rem;
 margin-bottom: 1.4rem;

}

.values{
font-size: 12px;
letter-spacing: 1px;


}

.value-divide{
    display: inline-block;
    width: 100px;
    margin: 15px 0 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }